.link_section{
    display: flex;
    justify-content: center;
}
.links-container{
    margin: 0 30px;
    width: 650px;
}
.link-card{
    border: 1px solid rgba(1, 1, 139, 0.671);
    margin: 10px 0;
    padding: 13px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius:100px;
    font-size: 1.1rem;
}

.links-container a{
    text-decoration: none !important;
}
.link_title{
    margin-left: 30px;
}